body {
    font-family: Raleway;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

h2 {
    margin-top: 80px;
    text-align: center;
}

.row {
    display: flex;
    align-items: center;
}

.quantity-input {
    width: 50px;
    max-width: 50px;
    text-align: center;
}

.btn-primary {
    background-color: #facd8a;
    border-color: #facd8a;
    color: black;
    font-size: 1rem;
}
body.dark .btn-primary {
    background-color: #facd8a !important;
    border-color: #facd8a !important;
    color: black;
}
.btn-primary:hover {
    background-color: #facd8a;
    border-color: #facd8a;
    color: black;
}

@media(min-width: 992px) {
    .articulos {
        margin-left: 15%;
    }
}

@media (max-width: 1024px) {
    .product-row {
        font-size: 15px;
    }
}

@media (max-width: 770px) {
      
    .product-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .count {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 575px) {
    body {
        font-size: 0.9rem;
    }

    h5 {
        font-size: 1rem;
    }
    
    .btn-primary {
        padding: .25rem .5rem !important;
    }

    p.d-block {
        margin-left: 33%;
        font-weight: 600;
    }

    .sub-text {
        text-align: right;
    }

    .subtotal {
        font-weight: 600;
    }

    .sub-text, .subtotal, p.col-4 {
        margin-bottom: 0;
    }

    .count {
        margin-left: 66%;
    }

    hr.col-12 {
        width: 94.5%;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 320px) {
    
    .product-row img {
        max-width: 50px;
    }

    .quantity-input {
        width: 40px;
    }

    .subtotal {
        font-size: 0.8rem;
        padding-left: 10px;
    }
}

/*Style Badge*/

#cartBadge {
    background-color: #ffaf53be !important;
    color: white;
    padding: .15rem .25rem;
    border-radius: .25rem;
  }