main {
  margin-top: 60px;
  padding-left: 10%;
  padding-right: 10%;
}

nav {
  height: 60px;
}

#carousel-inner {
  border: 1px solid #ff000000;
  width: 100%;
  border-radius: 10px;
}

#carouselExampleInterval {
  width: 40%;
  margin-bottom: 1.2rem;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 5%;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  z-index: 10;
  /* Botones por encima de las im치genes */
}

.carousel-control-prev {
  left: 2%;
}

.carousel-control-next {
  right: 2%;
}

.categoryName {
  align-items: center !important;
  font-size: 48px;
  text-align: center;
  color: #343a40;
  padding: 10px;
  border: 2px solid #dee2e6;
  border-radius: 8px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  display: inline-block;
  width: 30%;
  margin-bottom: 20px;
  cursor: pointer;
}

.precio,
.vendidos {
  font-size: 18px;
  font-weight: 600;
  color: #343a40;
  margin-top: 10px;
  cursor: pointer;
}

.text-muted {
  padding: 2px 0;
  background-color: #f9f9f9;
}

#info {
  width: 40%;
  display: inline-block;
  vertical-align: top;
  margin-top: 0;
  cursor: pointer;
}

#comments-form-section {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3%;
  width: 100%;
}

#comments-column,
#form-column {
  color: #363739;
  border-radius: 2%;
  margin-bottom: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  /* Transici칩n suave */
  background-color: #f9f9f9;
  padding: 2%;
}

#comments-section {
  max-height: 300px;
  overflow-y: auto;
  /* Scroll si hay muchos comentarios */
}

#ratingForm textarea {
  width: 99%;
  resize: none;
}

#ratingForm select,
#ratingForm button {
  margin-top: 10px;
  color: #0a0a0a;
  width: auto;
  padding: 5px 10px;
}

#ratingForm button {
  color: #ffffff;
  background-color: #F19933;
  border: 1px solid #00000011;
  border-radius: 5px;
}

#comments-column:hover,
#form-column:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

#ratingForm button:hover {
  background-color: #ffcf98;
}

body {
  font-family: 'Raleway', sans-serif;
}

h1,
h2,
h4,
h5 {
  font-weight: 700;
  cursor: pointer;
}

.related-products h4 {
  text-align: center;
}

#descripcion {
  font-size: 1.2rem;
}

#rating-stars i {
  font-size: 24px;
  color: #F19933;
  cursor: pointer;
  margin-right: 5px;
}

.checked,
.unchecked {
  color: #F19933;
}

textarea {
  border-color: #ffcf98;
  border-radius: 0.7rem;
}

textarea:focus {
  border-color: #F19933;
  outline: none;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

#precio-vendidos {
  display: flex !important;
  justify-content: space-between !important;
}

.related-products {
  display: flex;
  flex-direction: column;
  align-items: right;
  margin: 20px 0;
}

#related-products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

#related-products-container h5 {
  font-weight: bold;
}

#related-products-container img {
  width: 88%;
  height: auto;
  border-radius: 12px;
  align-self: center;
  margin-top: 15px;
}

#related-products-container .card {
  background-color: #F9F9F9;
  border: none;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 8px;
  transition: box-shadow 0.3s ease;
  /* Transici칩n suave */
}

#related-products-container .card:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

@media (max-width: 767px) {
  #info {
    width: 55%;
  }

  #carouselExampleInterval {
    width: 55%;
  }
}

@media (max-width: 575px) {
  #comments-form-section {
    width: 86%;
    margin-left: 7%;
  }

  #info {
    width: 86%;
  }

  #carouselExampleInterval {
    width: 86%;
  }

  #descripcion {
    font-size: 1.05rem;
  }
}

/* boton y Style de dark modo */ 
.switch {
  background: #343D5B;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;

  &::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgb(0, 0, 0, .2);
  }
  &.active {
    background: #df851e;
    color: #161515;
    &::after{
      right: 0;
      left: unset;
    }
  }
  span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
  }
}

body.dark {
   background-color: #2C2F33;
   color: white;
}

body.dark #related-products-container h5 {
  color: #ffffff;
}

body.dark #related-products-container .card {
  background-color: #23272A;
}

body.dark {
  background-color: #2C2F33;
}

body.dark .text-muted {
 background-color: #23272A;
 padding-top: 3rem;
 padding-bottom: 3rem;
 margin-top: 10px;
 height: 10px;
}

body.dark .precio{
  color: #ffffff;
}

body.dark .vendidos{
  color: #ffffff;
}
.narv {
  display: flex;
  margin-bottom: 20px !important;
}

body.dark #comments-column{
  background-color: #23272A;
  color: #dee2e6;
}

body.dark #form-column {
  background-color: #23272A;
  color: #dee2e6;
}

body.dark #userComment{
  background-color: #2C2F33;
  color: #dee2e6;
}

body.dark .placeholder {
  color: #b9bbbe;
}

body.dark #userRating {
  background-color: #2C2F33;
  color: #f1f1f1;
}

.right-container {
  display: flex;
  align-items: center;
  margin-left: auto; 
}

.switch-container {
  margin-left: 15px;
}

/* Boton agregar al carrito */
#addToCartButton {
  background-color: #f3ca9c; 
  color: black;
  font-weight: bold;
  border: 2px solid rgb(241, 216, 184);
  border-radius: 8px; 
  padding: 10px 15px; 
  font-size: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

#addToCartButton:hover {
  background-color: #f5bf82; 
}

/* Boton comprar */
#buyButton {
  background-color: #f19933; 
  color: #ffffff; 
  border: 2px solid white;
  border-radius: 8px; 
  padding: 10px 15px; 
  font-size: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  margin-left: 10px;
}

#buyButton:hover {
  background-color: #f0ab5c; 
}

/* Ambos botones (comprar, a침adir) */
#buyAddButtons {
  display: flex;
  margin-left: 62%;
  margin-top: 60px; 
}

@media (max-width: 575px) {
  #buyAddButtons {
    display: flex;
    margin-left: 22%;
    margin-top: 50px; 
    margin-bottom: 50px;
  }
}

/*  Alertas de agregar al carrito */
:root {
  --main-bg-color: #f8f9fa;
  --color: #2c2f33;
}
body.dark {
   background-color: #2c2f33; 
  color: #f8f9fa;
}
.swal2-confirm.swal2-styled {
  background: #f78418;
}
div:where(.swal2-container) div:where(.swal2-popup){
  background-color: var(--main-bg-color);
  color: var(--color);
}

body.dark .swal2-confirm.swal2-styled {
  background: #f78418; 
}

body.dark .swal2-popup {
  background-color: #2c2f33; 
  color: #f8f9fa; 
}

/*Style Badge*/

#cartBadge {
  background-color: #ffaf53be !important;
  color: white;
  padding: .15rem .25rem;
  border-radius: .25rem;
}