main {
  margin-top: 60px;
  padding: 20px;
}

.container {
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
gap: 20px;
}

#carousel-inner {
  border: 1px solid #ff000000; 
  width: 100%;
  border-radius: 10px;
}

#carouselExampleInterval {
width: 40%; 
float: left; 
margin-left: 0;
margin-right: 20px; 
}


#carouselExampleInterval {
  position: relative;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 5%;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  z-index: 10; /* Botones por encima de las imágenes */
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}

.carousel {
  margin-right: 20px;
}

p {
  font-size: 20px;
  margin-right: 20px;
}

.categoryName {
 align-items: center !important;
 font-size: 48px;
 text-align: center;
 color: #343a40;
 padding: 10px;
 border: 2px solid #dee2e6;
 border-radius: 8px;
 box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
 background-color: #fff;
 display: inline-block;
 width: 30%;
 margin-bottom: 20px;
 margin-left: 90px;  
}

.precio, .vendidos {
font-size: 18px;
font-weight: 600;
color: #343a40;
margin-top: 10px;
}

.vendidos {
color: #666868;
padding-left: 0px; 
border-radius: 5px;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
background-color: #fff;
text-align: center; 
width: 30%;
margin: 0; 
margin-top: 10px;
}

.text-muted {
width: 150%;
padding: 2px 0; 
background-color: #f8f9fa; 
text-align: center;
position: fixed; 
bottom: 0;
}

#info {
width: 45%; 
display: inline-block;
vertical-align: top; 
margin-top: 0; 
}


#comments-form-section {
display: flex;
justify-content: space-between;
margin-top: 20px; 
padding: 10px;
width: 100%;
margin-bottom: 10px; 
}

#comments-column, #form-column {
  width: 48%;
  border: 1px solid #dee2e6;
  color: #363739;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease; /* Transición suave */
  background-color: #f9f9f9;
  padding: 15px;
}

#comments-section {
max-height: 300px; 
overflow-y: auto; /* Scroll si hay muchos comentarios */
}

#ratingForm textarea {
width: 100%;
resize: none;
}

#ratingForm select, #ratingForm button {
margin-top: 10px;
color: #0a0a0a;
width: auto; 
padding: 5px 10px; 
}

#ratingForm button {
margin-top: 10px;
color: #ffffff;
background-color: #ffc107; 
border: 1px solid #00000011;
border-radius: 5px;
display: block; /* Asegura que se mantenga como un bloque */
margin-left: 0; 
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

#comments-column:hover, #form-column:hover {
box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2); 
}

#ratingForm button:hover {
background-color: #d46804;
}

h4 {
font-weight: bold;
margin-bottom: 15px;
}

body, h4, p {
font-family: 'Roboto', sans-serif;
}

#rating-stars i {
font-size: 24px;
color: #ffc107;
cursor: pointer;
margin-right: 5px;
}

#rating-stars i:hover,
#rating-stars i.fa-star {
color: #ff8800;
}
