body{ 
    background: url('../img/Fondo_login.webp');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-size: 100%;
  }
  
  .container {
    box-shadow: 2px 8px 6px #93929137;
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 50px;
    padding: 20px 130px;
    border: 1px solid #ccc;
    border-radius: 50px;
    background-color: #f9bf7843;
    margin-bottom: 30%;
    margin-top: 10% ;
    border-color: #f3ba5800;

  }
  
  h1 {
    
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5%;
    border-radius: 15px;
    background-color: #ffd390;
    max-width: 60%;
    margin-left: 20%;
    box-shadow: 2px 2px 8px #969695a7;
    font-size: 25px;
    color: #424045d6;
}

  
  form {
    display: flex;
    flex-direction: column; 
}
  
  input {
    font-size: 10px;
    background-color: #ffe4b1b6;
    padding: 7px;
    border-radius: 15px;
    margin-bottom: 5px;
  }

  #username, #password { 
    border-color: #cf894300;
  }
  
  button {
    padding: 5px;
    background-color: #cfe8add8;
    color: rgb(71, 66, 66);
    box-shadow: 1px 2px 6px #939291;
    border: none;
    border-radius: 20px;
    cursor: pointer;  
    margin-left: 35%;
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 12px;
  
  }

  button:hover { 
    padding: 5px;
    background-color: #cef4ce;
    border: 15px;
    font-size: 15px;
    color: black;
  }
    
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #e8ecb01d;
    padding: 5px;
    font-size: 15px;
  }

  a { 
    text-decoration: none;
    color: #052bb1
  }

  a:hover {
    color: #0e0320;
    font-size: 18px;
  }